# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled C extensions
*.so

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak

# Ignore coverage reports
.coverage
coverage.xml
*.cover
.hypothesis/

# Ignore build directories
build/
dist/
*.egg-info/